<div class='wyze-nav'>
  <div class='wrap'>
    <div class='left-nav'>
      <ul>
        <li class='desktop-only'>
          <a href='https://grandstates.us'>Our Website</a>
        </li>
        <li class='dropdown-toggle'>
          <a href='/' class='desktop-only'>Forum</a><span
            class='mobile-only'
          >Forum</span>
          <ul class='community-dropdown'>
            <li><a href='/c/announcements'>Announcements</a></li>
            <li><a href='/c/policies'>Policies</a></li>
            <li><a href='/c/laws'>Laws</a></li>
            <li><a href='/c/nominations'>Nominations</a></li>
            <li><a href='/c/general'>General Discussion</a></li>
            <CustomNewCount />
            <li><a href='https://grandstates.discourse.group/'>See All</a></li>
          </ul>
        </li>
        <li class='desktop-only'>
          <a href='https://www.grandstates.us/support'>Support</a>
        </li>
        <li class='desktop-only'>
          <a href='https://www.grandstates.us/social'>Social Media</a>
        </li>
      </ul>
    </div>

    {{#if this.siteSettings.logo}}
      <div class='logo'>
        <a
          href='https://www.wyze.com/?utm_source=forum&utm_medium=website&utm_campaign=wyze_forums'
        >
          <img class='' src={{this.siteSettings.logo}} />
        </a>
      </div>
    {{/if}}
    <div class='right-nav'>
      <ul>
        <li class='mobile-only'>
          <a href='https://www.grandstates.us/support'>Support</a>
        </li>
        <li class='mobile-only'>
          <a href='https://www.grandstates.us/social'>Social Media</a>
        </li>
        <!-- <li><a href="https://wyzecam.com/my-account/">Sign In</a></li> -->
      </ul>
    </div>
  </div>
</div>
